<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Affinity propagation clustering of Drosophila melanogaster neurons</title>

  <!-- Bootstrap core CSS -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body role="document">

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>



<div class="container" role="main">

<h1>Affinity propagation clustering of <i>Drosophila melanogaster</i> neurons</i></h1>
<h3>Supporting information for <a href="http://dx.doi.org/10.1101/006346">Costa et al. (2014) NBLAST: Rapid, sensitive comparison of neuronal structure and construction of neuron family databases</a></h3>


<div class="alert alert-warning" role="alert">
  3D views, powered by WebGL, require a large download and so the switch from 2D to 3D view may take some time. We are currently working on methods to speed this up.
</div>


<div class="page-header">
  <h2>Hierarchical clustering of cluster exemplars</h2>
</div>

<div class="row">
  <div class="span12">
    <img src="images/superclusters/dendrogram.png" class="img-responsive"/>
  </div>
</div>

<p>Hierarchical clustering of all central brain, unilateral VPN and bilateral VPN exemplars, found by affinity propagation clustering, results in the dendrogram shown above. Cutting the dendrogram at a height of 2.7 results in 19 distinct superclusters, displayed below.</p>



<div class="page-header">
  <h2>Superclusters</h2>
</div>

<div class="row">
  <%divs <- ""; for(supercluster in 1:num_superclusters) divs <- c(divs, paste0('
    <div class="col-xs-4">
    <p class="text-center"><a href="superclusters/', supercluster, '/" class="thumbnail">
       <img src="images/superclusters/', supercluster, '.png" class="img-responsive"/><br />
       Supercluster ', as.character(as.roman(supercluster)), '
      </a></p>
    </div>'))%>
  <%=paste0(divs, collapse="\n")%>
</div>




</div> <!-- /container -->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
